body {
  position: absolute;
  margin: 0 auto;
  width: 100%
}
header {
  background-color: #5DADE2;
  margin: 0 auto;
  height: 50px;
  border-bottom: 100% solid #5DADE2;
  position: fixed;
  width: 100%; 
  z-index: 2;
}

#search-input{
  margin: 10px 70px;
  width: 750px;
  height: 30px;
  color: red;
  background-color: white
}

#input-container{
  margin: 10px 70px;
}


h1 {
  color: black;
  font-family: 'Georgia', serif;
  font-size: 70px;
  font-weight: 10;
  text-transform: uppercase;
}

h2 {
  color: #333;
  font-family: 'Impact', sans-serif;
  font-size: 170px;
  font-weight: 10;
  margin: 0 auto 10px auto;
  text-decoration: underline;
}

h3 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

.border {
  color: black;
  border: 1px solid black;
  position: relative;
  padding: 15px;
}

p.thick {
  background-color: black;
  height: 10px;
  border-bottom: 100% solid #black;
  position: relative;
  width: 100%; 
}
